/* home/login */

body {
  font-family: 'Open Sans', sans-serif;
  background-color:#f3fffe;
}

.title{
	text-align: center;
	font-size:40px;
	font-weight:800;
	color:#18a49a;
	font-family: 'Montserrat', sans-serif; 
	letter-spacing:3px;
	text-transform: uppercase;
}
.btn{
	color:#f3fffe;
	background-color:#18a49a;
	border-color:#18a49a;
	box-shadow: 0 3px #008074;
	margin-bottom:10px;
}

.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #18a49a;
  box-shadow: 0 5px #008074;
  transform: translateY(4px);
}

.login{
	padding:20px 40px 0 0px;
}

#checkbutton{
	margin-left:25px;
}

#logOutButton{
	float:right;
}

#status{
	text-align:right;
	display:block;
}

#logo1{
	width:150px;
	height:150px;
	margin-top:100px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/* registration */
.title2{
	text-align: center;
	font-size:40px;
	font-weight:800;
	padding-top:50px;
}

.onboard-info{
	padding:50px;
}

.onboard-info .btn{
	text-align:center;
	padding: 20px 0 20px 0;
	
	border-radius:100px;
}

.next-button{
	text-align:right;
	padding: 10px 0 10px 0;
	margin-right: 20px;
float:right;
}
.back-button{
	text-align:left;
	padding: 10px 0 10px 0;
	margin-left: 20px;
float:left;
}

#searchQuery{
	margin-left:30px;
	margin-right:-25px;
}

#searchButton{
	margin-right:30px;
}


/* start a plan */

.login{
	margin-left:25px;
}

#featured-exhibits {
	font-weight:600;
	margin:25px;
}

.form-check{
	margin:25px;
}

.exhibit-checks{
	background-color: #ffffff;
	border-style:solid;
	border-width:2px;
	padding:20px 20px 20px 40px;
	border-radius:5px;
	margin-top:10px;
	border-color:#ffffff;
	color:#336e7b;
	box-shadow: 0 2px #87d0cd;
}

.exhibit-entry{
	background-color: #ffffff;
	border-style:solid;
	border-width:2px;
	padding:20px 20px 20px 40px;
	border-radius:5px;
	margin-top:10px;
	border-color:#ffffff;
	color:#336e7b;
	box-shadow: 0 2px #87d0cd;
}

.listmap{
	text-align:center;
}
.listview{
	margin:25px;
}

.title3{
	margin:25px;
}

.submit-answer{
	float:right;
}

.mapdisplay{
	padding:200px;
	border-color:#c4c4c4;
	border-style:solid;
	border-width:1px;
}

/* Rectangle */
.rectangleheader {
    width: 414px;
    height: 127px;
    background: #336e7b;
}

.rectangleheader h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.popmodal{
	position:absolute;
	right:0;
}


