/* home/login */

body {
  font-family: 'Roboto', sans-serif;
}

.title{
	text-align: center;
	font-size:40px;
	font-weight:800;
	padding-top:150px;
}

.login{
	padding:20px 40px 0 0px;
}

#checkbutton{
	margin-left:25px;
}


/* registration */
.title2{
	text-align: center;
	font-size:40px;
	font-weight:800;
	padding-top:50px;
}

.onboard-info{
	padding:50px;
}

.onboard-info .btn{
	text-align:center;
	padding: 20px 0 20px 0;
	background-color:#c4c4c4;
	border-radius:100px;
}

.next-button{
	text-align:right;
	padding: 10px 0 10px 0;
	margin-right: 20px;
float:right;
}
.back-button{
	text-align:left;
	padding: 10px 0 10px 0;
	margin-left: 20px;
float:left;
}

#searchQuery{
	margin-left:30px;
	margin-right:-25px;
}

#searchButton{
	margin-right:30px;
}


/* start a plan */
.form-control {
margin-left:25px;
margin-right:25px;
}

#featured-exhibits {
	font-weight:600;
	margin:25px;
}

.form-check{
	margin:25px;
}

.exhibit-checks{
	background-color: white;
	border-style:solid;
	border-width:1px;
	padding:20px 20px 20px 40px;
	border-radius:5px;
}


.exhibit-entry{
	background-color: white;
	border-style:solid;
	border-width:1px;
	padding:20px 20px 20px 40px;
	border-radius:5px;
}
